os: linux
dist: focal
language: generic
sudo: required

git:
  depth: 1

script:
  - sudo bash -ex ./build.sh

after_success:
  - wget -c https://raw.githubusercontent.com/probonopd/uploadtool/8142d461aba7b92a058116fe5ee75be438b75fa4/upload.sh
  - bash upload.sh sha256 *.iso*
  
branches:
  except:
    - # Do not build tags that we create when we upload to GitHub Releases
    - /^(?i:continuous)/

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always
